@using ETickets.Models;
 @model IEnumerable<purchase>
@{
    ViewData["Title"] = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-9 mb-3">

        <h2>

            <a href="#" type="button">
                <i class="bi bi-arrow-left"></i>
            </a>
            All purchases
        </h2>
    </div>
    <div class="col-3">
        <a asp-action="create" type="button" class="btn btn-danger">
            <i class="bi bi-plus-circle"></i> Create New Actor
        </a>
    </div>
</div>

<div class="row">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">user id</th>
                <th scope="col">payment</th>
@*                 <th scope="col">all movies</th>
 *@            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="table-light">
                    <th scope="row">@item.Id</th>
                   @*  <td>@item.userId</td>
                    <td>@item.total</td> *@
                    

@*                     <td>
                        <a asp-action="movies" asp-area="customer" asp-controller="actors" asp-route-Id="@item.Id" type="button" class="btn btn-dark" style="background:rgb(51, 141, 255 ) ">
                            <i class="bi bi-pencil-square"></i> All movies
                        </a>
                    </td> *@
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this actor ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form id="deleteForm" method="post" action="/admin/actors/delete/">
                    <input type="hidden" name="id" id="actorIdInput" value="" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var deleteModal = document.getElementById('deleteModal');
    deleteModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var id = button.getAttribute('data-actorid');
        var input = document.getElementById('actorIdInput');
        input.value = id;
    });
</script>