<div class="container h-100 d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h1>you purchased tickets successfully</h1>
        </div>
        <div class ="col-md-12">
            <a asp-action="index" asp-controller="home" asp-area="customer" class="btn btn-primary">back to the main page</a>
        </div>
    </div>
</div>

