
<div class="card mb-3">
    <div class="card-body">
        <img src="~/images/cast/@Model.ProfilePicture" class="img-fluid" />
        <h4>@Model.FullName</h4>
        <p>Bio : @Model.Bio</p>
    </div>
</div>
