
<div class="card mb-3">
    <div class="card-body">
        <img src="~/images/cast/@Model.ProfilePicture" class="img-fluid" />
        <h4>@Model.FullName</h4>
        <p>Bio : @Model.Bio</p>
        <p>News : @Model.News</p>
        <a asp-action="Movies" asp-route-id="@Model.Id" class="btn btn-primary">Movies</a>

    </div>
</div>
