@model Cinema
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-8 mb-3">

                <h3>@Model.Name :</h3>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.Movies)
            {
                <div class="col-4">
                    <div class="col-md-6 mb-4">
                        <div class="card h-100">
                            <div class="row g-0">
                                <div class="col-md-4">
                                </div>

                                <div class="card-body">
                                    <img src="~/images/movies/@item.ImgUrl" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="card-footer">
                                    @item.Name
                                    <a asp-action="Details" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-primary"> view Movie</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
